<hr/>
<h4>Authors</h4>
<ul class="un-bulleted">
  <li>
    <p><a href="http://thomasdavis.github.com">Thomas Davis</a> - <em>Front End Web Developer</em></p>
    <a style="margin-left: 20px;" href="https://twitter.com/neutralthoughts" class="twitter-follow-button">Follow @neutralthoughts</a>
  </li>
  <li>
    <p><a href="http://jasonormand.com/">Jason Ormand</a> - <em>Front End Web Developer</em></p>
    <a style="margin-left: 20px;" href="https://twitter.com/okor" class="twitter-follow-button">Follow @okor</a>
  </li>
</ul>
