<% if (tr8n_current_language().right_to_left) { %>
    <link href="bootstrap/css/bootstrap.rtl.css" rel="stylesheet" media="screen">
    <link href="bootstrap/css/bootstrap-responsive.rtl.css" rel="stylesheet">
<% } else { %>
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
<% } %>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#"><%=tr("Employee Directory") %></a>

            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="home-menu active"><a href="#"><%= tr("Home") %></a></li>
                    <li class="contact-menu"><a href="#contact"><%= tr("Contact") %></a></li>
                </ul>
                <ul class="nav pull-right">
                    <li>
                        <%= tr8n_language_selector() %>
                    </li>
                    <li>
                        <form class="navbar-search pull-right dropdown">
                            <input id="searchText" type="search" class="search-query dropdown-toggle" placeholder="<%=trl('Search')%>" autocomplete="off">
                        </form>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container">
    <br/>

    <div class="row-fluid">
        <div class="span12" id="content"></div>
    </div>

    <hr>

    <footer>
        <p>&copy; Christophe Coenraets 2013. <%=tr("[link: Follow me] on Twitter", {link: {href: "http://twitter.com/ccoenraets"}}) %></p>
    </footer>

</div>