<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" dir="ltr">

<head>
  <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />

  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="google" value="notranslate">
  <title>Welp</title>

  <link rel="stylesheet" href="/stylesheets/style.css">

  <script src="/javascripts/jquery.min.js" type="text/javascript"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/underscore.min.js"></script>
  <script src="/javascripts/tr8n.js"></script>

  <!-- temp data for testing -->
  <!--<script src="cache/application.js"></script>-->
  <script src="cache/ru.js"></script>
  <script src="cache/en-US.js"></script>
  <!--<script src="cache/index.js"></script>-->

  <script>
    tr8n_init("680d6c3913971ac32", null, function() {
      console.log("Done init");
      console.log(Tr8nSDK.application);

      $.ajax({
        url: "/templates/index.jst"
      }).done(function(data) {
        $(document.body).html(_.template(data));
      }).fail(function(jqXHR, textStatus, errorThrown) {
        $(document.body).html(errorThrown);
      });
    });
  </script>

</head>

<body>

</body>
</html>

