<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" dir="ltr">

<head>
  <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />

  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="google" value="notranslate">
  <title>Welp</title>

  <link rel="stylesheet" href="/stylesheets/style.css">

  <script src="/javascripts/jquery.min.js" type="text/javascript"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/underscore.min.js"></script>
  <script src="/javascripts/tr8n.js"></script>

  <script>
    var app_key = "default";
    var app_secret = "test";
    var data = Tr8nSDK.utils.decodeAndVerifyParams(Tr8nSDK.utils.getCookie(app_key));
    var translator = (data && data.translator) ? new Tr8nSDK.Translator(data.translator) : null;
    var default_locale = "en-US";
    var current_locale = (data && data.locale) ? data.locale : default_locale;
    var current_source = "index";

    Tr8nSDK.init(app_key, app_secret, {
      default_locale: default_locale,
      current_locale: current_locale,
      current_source: current_source,
      host: "https://translationexchange.com",
      cache: {
        adapter: "inline",
        data: {}
      }
    });
  </script>

  <script src="data/application.js"></script>
  <script src="data/ru.js"></script>
  <script src="data/en-US.js"></script>
  <script src="data/index.js"></script>

  <script>
    (function() {
      $.ajax({
        url: "/templates/index.jst"
      }).done(function(data) {
        $(document.body).html(_.template(data));
      }).fail(function(jqXHR, textStatus, errorThrown) {
        $(document.body).html(errorThrown);
      });

      if (window.addEventListener) window.addEventListener('load', tr8n_init, false);
      else if (window.attachEvent) window.attachEvent('onload', tr8n_init);
      window.setTimeout(function() {tr8n_init();}, 1000);

      function tr8n_init() {
        if (window.tr8n_already_initialized) return;
        window.tr8n_already_initialized = true;

        Tr8nSDK.utils.addCSS(window.document, Tr8nSDK.application.host + '/assets/tr8n/tools.css', false);
        Tr8nSDK.utils.addCSS(window.document, Tr8nSDK.application.css, true);
        Tr8nSDK.utils.addJS(window.document, 'tr8n-jssdk', Tr8nSDK.application.host + '/assets/tr8n/tools.js', function() {
          Tr8n.app_key = Tr8nSDK.application.key;
          Tr8n.host = Tr8nSDK.application.host;
          Tr8n.sources = [];
          Tr8n.default_locale = Tr8nSDK.application.default_locale;
          Tr8n.page_locale = Tr8nSDK.config.current_locale;
          Tr8n.locale = Tr8nSDK.config.current_locale;

          if (Tr8nSDK.application.isFeatureEnabled("shortcuts")) {
            var keys = Object.keys(Tr8nSDK.application.shortcuts || {});
            for (var i=0; i<keys.length; i++) {
//              console.log(keys[i]);
              var shortcut_function = Tr8nSDK.application.shortcuts[keys[i]];
//              console.log(shortcut_function);
              shortcut.add(keys[i], function(key) {
//                alert(key);
//                alert(shortcut_function);
              });
            }
          }
        })
      }

    })();
  </script>

</head>

<body>

</body>
</html>

